<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body class='list'>
  <h1><%= config.title %></h1>
  <ul>
  <% for (let i = 0; i < locals.length; i++) { %>
    <li>
      <time><%= locals[i].date %></time>
      <a href='<%= locals[i].url %>'><%= locals[i].title %></a>
    </li>
  <% } %>
  </ul>
</body>
</html>
